<!-- <app-doctordashboard></app-doctordashboard> -->
<div class="cointainer">


  <div class="row">


    <div class="col-md-2">
      <div class="card">
        <h1>Doctor : {{name}}</h1>
        <h1>Id : {{Id}}</h1>
       
      </div>
    </div>

    <div class="col-md-10" style="text-align: center" >
      <a class="btn btn-outline-secondary"
            (click) = "appoint(sid)">Click Here To Show Todays Appointments</a><br><br><br>
      <!-- <app-doctordashboard></app-doctordashboard> -->
    </div>
  </div>

</div>